{% extends 'base.html' %}


{% block content %}
<body>
    <div class="row">
        <div class="col-md">
            <div class="card card-default">
                <div class="card-body">
                    {% if messages %}
                        {% for message in messages %}
                        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-error{% endif %}">
                            {{ message }}
                        </div>
                        {% endfor %}
                    {% endif %}
                    <form action="" method="post">
                        {% csrf_token %}
                        <!-- <div class="row">
                            <div class="col-md">
                                <div class="form-group">
                                    <label for="karyawan">Nama Karyawan :</label>
                                    {{ forms.karyawan }}
                                </div>
                            </div>
                        </div> -->
                        <div class="row">
                            <div class="col-md">
                                <div class="form-group">
                                    <label for="barang">Nama Barang :</label>
                                    {{ forms.barang }}
                                </div>
                            </div>
                        </div>
                        <!-- <div class="row">
                            <div class="col-md">
                                <div class="form-group">
                                    <label for="tgl_pinjam">Tgl Pinjam :</label>
                                    {{ forms.tgl_pinjam }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md">
                                <div class="form-group">
                                    <label for="status">Status :</label>
                                    {{ forms.status }}
                                </div>
                            </div>
                        </div> -->
                        <!-- {{ forms.as_p }} -->
                        <input type="submit" value="Simpan">
                        <!-- <button type="submit" class="btn btn-success d-flex align-items-center justify-content-center mr-2" style="width: 100px;">
                            <ion-icon name="save-outline" style="width: 25px; height: 25px; margin-right: 5px;"> </ion-icon> Save
                        </button> -->
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock content %}
    
